<div class="card m-1 p-1 w-full h-full flex flex-column ">
    <!-- <div class="flex flex-column sticky">
      <div class="flex border-primary py-1 internal-page-header">
        <span class="internal-page-header">{{nodeName}}</span>
      </div>
    </div>
    <div class="h-full w-full flex-1 flex flex-column">
      <div class="resizable-container overflow-x-hidden border-top-1 h-full w-full mt-2 flex-1">
        <div>
            <p-select
                [options]="durationOptions" [(ngModel)]="selectedDuration"  (ngModelChange)="onDurationChange()" ></p-select>
        </div>
        <div class="flex flex-column gap-2 w-full">
            <div class="card">
                <p-chart 
                    type="line" 
                    [data]="cpuChartData" 
                    [options]="chartOptions"
                    height="400px"
                ></p-chart>
                <p-chart 
                    type="line" 
                    [data]="memoryChartData" 
                    [options]="memoryChartOptions"
                    height="400px"
                ></p-chart>
            </div>
        </div>
        
    </div> -->
</div>