/* You can add global styles to this file, and also import other style files */


/* You can add global styles to this file, and also import other style files */
@use 'primeicons/primeicons.css';
@import "primeflex/primeflex.css";



*{
    padding: 0;
    margin: 0;
    // border-color: var(--p-border);
    // background-color: #dad9d9;
    font-family: Arial, Helvetica, sans-serif;
}
    
html {
  font-size: 16px;
}

.internal-page-header {
  font-size: 24px;
  // font-weight: bold;
  color: var(--primary-color);
  text-align: center;
  border-bottom: 2px solid var(--secondary-color);
  background-color: var(--background-light);
}

.internal-page-utility-area {
  display: flex;
  flex-direction: row;
  width: 100%;
  gap: 2;
}

.p-paginator {
  margin-top: 5px;
}

.p-button {
  padding: 0.5rem 1rem;
}

.p-select {
  padding: 0.5rem 1rem;
}

.p-card {
  background-color: #D9EAFD;
  margin: 0 0.5rem 0 0.5rem;
  padding: 0 0.5rem 0 0.5rem;
}

.breadcrumb {
  border-bottom: 1px solid #9AA6B2;
  // box-shadow: 0 10px 5px rgba(0, 0, 0, 0.3);
}

.navbar {
  background-color: #577ba5;
}