<div class="card m-1 p-1 w-full h-full flex flex-column ">
    <div class="flex flex-column sticky">
      <div class="flex border-primary py-1 internal-page-header">
        <span class="internal-page-header">Agents</span>
      </div>
    </div>
    <div class="h-full w-full flex-1 flex flex-column">
      <div class="resizable-container overflow-x-hidden border-top-1 h-full w-full mt-2 flex-1">
        <div #search search-bar></div>
        
    <p-table [value]="(agents$ | async) || []" selectionMode="single" dataKey="id" (onRowSelect)="agentSelected($event)">
        <ng-template #header>
            <tr>
                <th>Name</th>
                <th>Frequency</th>
                <th>Scheduled</th>
                <th>Active</th>
            </tr>
        </ng-template>
        <ng-template #body let-agent>
            <tr [pSelectableRow]="agent">
                <td>{{ agent.name }}</td>
                <td>
                    <p-chip class="p-1 m-1 border-none">{{agent.frequency.replace('_', ' ')}}</p-chip>
                </td>
                <td>
                    @if (agent.is_scheduled) {
                        <i style="color: green" class="pi pi-check"></i>
                    }
                    @else {
                        <i style="color: red" class="pi pi-times"></i>
                    }
                </td>
                <td>
                    @if (agent.active) {
                        <i style="color: green" class="pi pi-check"></i>
                    }
                    @else {
                        <i style="color: red" class="pi pi-times"></i>
                    }
                </td>
            </tr>
        </ng-template>
    </p-table>
    </div>
  </div>